@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
.btn2 {

  width: 360px;
  height: 80px;
  cursor: pointer;
  background-color: #00000083;
  border: 1px solid #FFD700;
  outline: none;
  transition: 1s ease-in-out;
}
.center {
  margin-top: 320px;
  width: 360px;
  height: 80px;
  position: absolute;
}
.center2 {
  margin-top: 510px;
  width: 360px;
  height: 80px;
  position: absolute;
}
svg {

  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn2:hover {
  transition: 1s ease-in-out;
  background: #D4A830;
}

.btn2:hover svg {
  stroke-dashoffset: -480;
}

.btn2 span {
  color: white;
  font-size: 30px;
  font-weight: 1000;
}
